// global
@media (max-width: $breakpoint-lg-max) {}

@media (max-width: $breakpoint-md-max) {
	.container {
		padding: 0 10px;
	}

	.title {
		padding-top: 35px;
		padding-bottom: 25px;
	}
}

@media (max-width: $breakpoint-sm-max) {
	.title {
		font-size: 32px;
		padding-top: 30px;
		padding-bottom: 20px;
	}
}

@media (max-width: $breakpoint-xs-max) {

	.title {
		font-size: 28px;
		padding-top: 30px;
		padding-bottom: 20px;
	}
}

@media (max-width: $breakpoint-sm-min) {
		body {
			font-size: 14px;
		}
}


// main
@import './blocks/main/media-main.scss';
// butik
@import './blocks/butik/media-butik.scss';
// room
@import './blocks/room/media-room.scss';
// manga
@import './blocks/manga/_media-manga.scss';
// header
@import './blocks/parts/_media-header.scss';
