// colors
$pink: #ba6689;
$pink-light: #bc7291;
$grey-light: #eeeeee;
$grey: #c0c0c0;
$grey-dark: #525252;
$blue: #3f4b5b;
$blue-light: #1b2a38;

// breakpoints
// $breakpoint-xs-min: 0px;
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;