.tournament__header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;

	select {
		min-width: 300px;
		padding: 5px 10px;
		outline: none;
		box-shadow: none;
		border: 1px solid $grey-dark;
		background-color: #fff;

		option {
			background-color: #fff;
		}
	}

	>select {
		&:first-child {
			margin-right: 50px;
		}
	}

	&-week {
		select {
			min-width: 300px;
			padding: 5px 10px;
			outline: none;
			box-shadow: none;
			border: 1px solid $grey-dark;
			background-color: #fff;

			option {
				background-color: #fff;
			}
		}
	}
}

.tournament__select-list {
	select {
		display: none;

		&:first-child {
			display: block;
		}
	}
}

.tournament-area {
	border: 1px solid $grey-light;
	overflow-y: auto;
	overflow-x: hidden;
	color: $grey-dark;
	margin: 0 auto;
	padding-bottom: 20px;
	width: 55%;
	max-height: 600px;
	box-shadow: 4px 4px 10px 0px rgba(82, 82, 82, 0.15);

	&__inner {
		margin-left: 20px;

		.final-bottom {
			padding-bottom: 15px;
		}

		.final-table__image {
			// display: flex;
			// justify-content: center;
			// object-fit: cover;

			img {
				margin: 0 auto;
				width: 90%;
				margin-top: 15px;
			}
		}

		.other-tf {
			margin-top: 15px;
		}

		.bester {
			padding-top: 5px;
		}

		.non-left {
			display: block;
			margin-left: -25px;
			margin-top: 15px;
		}

		ul {
			padding-left: 0px;
			margin-top: 5px;
			margin-bottom: 0px;
			font-size: 15px;
		}

		li {
			padding-bottom: 5px;
		}

		h2 {
			padding-top: 20px;
		}

		h3 {
			padding-top: 15px;
			padding-bottom: 0px;
		}

		.death42 {
			padding-top: 0px;
		}
	}
}
.tournament-area__inner-title {
	color: $pink;
}