.level__wrap {
	width: 80%;
	min-height: 100%;
	height: 800px;
	position: relative;
	border: 1px solid $grey-light;
	margin: 0 auto 30px;
	box-shadow: 20px 20px 40px 0px rgba(82, 82, 82, 0.2);

	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 15px;
		bottom: 0;
		left: 0;
		background-color: #fff;
	}
}

.level__wrap-link {
	display: none;
	text-align: center;
	width: 100%;
	padding: 30px 20px;
	margin: 0 auto;
	border-radius: 30px;
	background-color: $pink;
	font-size: 16px;
	margin-bottom: 30px;
}

.level__inner {
	display: block;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	border: none;
}

// .title-sistem {
// 	padding-top: 40px;
// }

// .container-sistem {
// 	width: 60%;
// 	margin: 0 auto 40px;
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: space-between;
// }

// .container-sistem__all {
// 	&:not(:first-child) {
// 		margin: 30px 0px 20px 0;
// 		flex: 1 1 44%;
// 	}

// 	&:nth-child(even) {
// 		margin-right: 20px;
// 	}
// }

// .container-sistem__main {
// 	flex: 1 1 100%;
// }

// .table {
// 	color: black;
// 	width: 100%;
// 	box-shadow: 4px 4px 10px 0px rgba(82, 82, 82, 0.2);
// 	border-radius: 5px;
// 	border-collapse: collapse;

// 	td {
// 		padding: 5px 10px;

// 		&:not(:last-child) {
// 			border-right: 1px solid #ccc;
// 		}
// 	}

// 	tr {
// 		&:nth-child(odd) {
// 			background-color: $grey-light;
// 		}

// 		&:first-child {
// 			background-color: silver;
// 		}
// 	}
// }

// .table-main {
// 	width: 100%;
// }

// .table-credit {
// 	margin-left: auto;
// 	margin-right: 0px;
// }

// .table-drop {
// 	margin-left: auto;
// 	margin-right: 0px;
// }